<div class="login-main">

  <div class="login-content">

    <!-- LOGIN -->
    <app-log-in-component (userModel)="tryLogin($event)"
                          [errorMessage]="loginMessage"
                          [loginContent]="loginContent"></app-log-in-component>

    <!-- SIGNUP -->
    <app-log-in-component (userModel)="tryRegister($event)"
                          [errorMessage]="registerMessage"
                          [loginContent]="registerContent"></app-log-in-component>

  </div>

</div>
