<div class="login-container">
  <div class="login-content">
    <h2>{{loginContent?.header}}</h2>
    <p *ngIf="errorMessage">{{errorMessage}}</p>

    <form [formGroup]="loginForm" (submit)="onSubmit()">

      <div [hidden]="hidden">
        <p>
          <label for="loginString">Логин: </label>
          <input type="text" id="loginString" formControlName="login">
        </p>

        <p>
          <label for="passwordString">Пароль: </label>
          <input type="text" id="passwordString" formControlName="password">
        </p>
      </div>

      <button class="btn_login">{{loginContent?.button}}</button>

    </form>

  </div>
</div>
